@model CMS.ViewModels.Payment.AutoPaymentCardViewModel

@using CMS.Localization;

@using (Html.BeginForm("AddCardSMSCheck", "Payment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CardholderName)
    @Html.HiddenFor(model => model.CardNo)
    @Html.HiddenFor(model => model.ExpirationMonth)
    @Html.HiddenFor(model => model.ExpirationYear)

    <div id="third-content" class="pb-5">
        <h4 class="mb-10 font-weight-bold text-dark">
            @Common.SMSValidation
        </h4>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label>@Common.SMSValidationCode</label>
                    @Html.Editor("smsCode", new { htmlAttributes = new { @class = "form-control form-control-solid form-control-lg", @placeholder = Common.SMSCode, autocomplete = "off" } })
                    <span class="form-text text-muted">
                        @Common.SetValidationCode
                    </span>
                    <div class="fv-plugins-message-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between border-top mt-5 pt-10">
        <div class="mr-2">
            <button onclick="PrevSubmit();" id="validation-page-prev" type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4">
                @Common.Prev
            </button>
        </div>
        <div>
            <button id="validation-page-submit" type="submit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">
                @Common.Next
            </button>
        </div>
    </div>
    <div></div>
    <div></div>
}
<div class="d-none" id="prev-form">
    @using (Html.BeginForm("PrevCreditCardRegister", "Payment", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.CardholderName)
        @Html.HiddenFor(model => model.CardNo)
        @Html.HiddenFor(model => model.ExpirationMonth)
        @Html.HiddenFor(model => model.ExpirationYear)
        <input type="submit" value="@Common.Prev" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" />
    }
</div>