@model CMS.ViewModels.Home.SubcriptionRegisterViewModel
@using CMS.Localization
@{ ViewBag.ApplicationType = ViewBag.ApplicationType ?? new SelectList(Enumerable.Empty<SelectListItem>());}
<!--begin: Wizard Step 4-->
<div class="pb-10 pb-lg-5">
    <h5 class="font-weight-bolder text-dark-50 font-size-h2">@Common.ApplicationInfoes</h5><hr class="my-4">
    <div class="text-dark-50 font-weight font-size-h5 mt-5">
        Hizmet almak istediğiniz adres bilgileri ve Başvuru türü
    </div>
</div>
<div class="form-group">
    <label class="font-size-h6 font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.ExtraInfo.ApplicationType)</label>
    @Html.DropDownListFor(m => m.ExtraInfo.ApplicationType, (SelectList)ViewBag.ApplicationType, Common.Choose, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
    <div class="fv-plugins-message-container">
        @Html.ValidationMessageFor(m => m.ExtraInfo.ApplicationType, null, new { @class = "fv-help-block" })
    </div>
</div>
<div class="form-group fv-plugins-icon-container" id="change-operator-selector" style="display:none;">
    <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
        <div class="alert-icon"><i class="animate__animated animate__flash flaticon-exclamation-2"></i></div>
        <div class="alert-text">@Common.XDSLNumberDescription</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <label class="font-size-lg font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.ExtraInfo.ServiceNo)</label>
            @Html.EditorFor(m => m.ExtraInfo.ServiceNo, new { htmlAttributes = new { @maxlength = 10, @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6 w-100", @placeholder = Html.DisplayNameFor(m => m.ExtraInfo.ServiceNo), @autocomplete = "off" } })
            <div class="fv-plugins-message-container">
                @Html.ValidationMessageFor(m => m.ExtraInfo.ServiceNo, null, new { @class = "fv-help-block" })
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <label class="font-size-lg font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.ExtraInfo.PSTN)</label>
            @Html.EditorFor(m => m.ExtraInfo.PSTN, new { htmlAttributes = new { @maxlength = 10, @class = "form-control h-auto p-3 border-0 rounded-lg font-size-lg w-100", @placeholder = Html.DisplayNameFor(m => m.ExtraInfo.PSTN), @autocomplete = "off" } })
            <div class="fv-plugins-message-container text-muted font-weight-bold">
                @Common.HomePhoneDescription
            </div>
            <div class="fv-plugins-message-container">
                @Html.ValidationMessageFor(m => m.ExtraInfo.PSTN, null, new { @class = "fv-help-block" })
            </div>
        </div>
    </div>
</div>

<!--end: Wizard Step 4-->