@model CMS.ViewModels.Home.SubcriptionRegisterViewModel
@using CMS.Localization
@{
    ViewBag.CommitmentLengthList = ViewBag.CommitmentLengthList ?? new SelectList(Enumerable.Empty<SelectListItem>());
}
<div class="pb-5" data-wizard-type="step-content">
    <div class="separator separator-dashed my-3"></div>
    <div class="pb-10 pb-lg-5 text-center">
        <h5 class="font-weight-bolder text-dark-50 font-size-h2">Adres Bilgileriniz</h5><hr class="my-4">
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.CommitmentInfo.CommitmentLength)</label>
                @Html.DropDownListFor(m => m.CommitmentInfo.CommitmentLength, (SelectList)ViewBag.CommitmentLengthList, Common.Choose, new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6" })
                <div class="fv-plugins-message-container">
                    @Html.ValidationMessageFor(m => m.CommitmentInfo.CommitmentLength, null, new { @class = "fv-help-block" })
                </div>
            </div>
        </div>
        <!--end::Form Group-->
        <!--begin::Form Group-->
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder m-2 text-dark">@Html.DisplayNameFor(m => m.CommitmentInfo.CommitmentExpirationDate)</label>
                @Html.EditorFor(m => m.CommitmentInfo.CommitmentExpirationDate, new { htmlAttributes = new { @class = "form-control h-auto p-3 border-0 rounded-lg font-size-h6", @placeholder = DateTime.Now.ToShortDateString() } })
                <div class="fv-plugins-message-container">
                    @Html.ValidationMessageFor(m => m.CommitmentInfo.CommitmentExpirationDate, null, new { @class = "fv-help-block" })
                </div>
            </div>
            <!--end::Form Group-->
        </div>
    </div>
</div>