@model IEnumerable<CMS.ViewModels.Home.TariffsViewModel>
@using CMS.Localization;

<h5 class="font-weight-bolder text-info font-size-h2">@Common.AvailabilityMaximumSpeed <strong>@Html.DisplayFor(m => m.FirstOrDefault().AvailabilitySpeed)</strong></h5>
<hr class="my-4">
<div class="row">
    @foreach (var item in Model)
    {
<div class="col-xl-12 ml-2">
    <div class="card card-custom gutter-b" style="background:#ffffff; box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.37);-moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.37);">
        <div class="card-body d-flex align-items-center py-0 mt-6">
            <div class="d-flex flex-column flex-grow-1 py-2 py-lg-0">
                <label class="option option option-plain">
                    <span class="option-control">
                        <span class="radio radio-info radio-lg mb-8 ">
                            <input type="radio" name="ServiceID" value="@Html.DisplayFor(m => item.TariffID)">
                            <span></span>
                        </span>
                    </span>
                    <span class="option-label">
                        <span class="option-head">
                            <span class="option-title font-size-h6 font-weight-bolder m-1 text-dark">@Html.DisplayFor(m => item.TariffName)</span>
                            <span class="font-size-h6 font-weight-bolder m-1 text-info">@Html.DisplayFor(m => item.Price)</span>
                        </span>
                        <span class="text-dark-50 font-weight font-size-h6 mt5 option-body text-left">@Html.DisplayFor(m => item.Speed)</span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>}
</div>
