@model IEnumerable<CMS.ViewModels.Home.CustomerDocumentsViewModel>

@using CMS.Localization;

@{
    ViewBag.Title = Common.MyDocuments;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model == null || Model.Count() == 0)
{
    <style>
        .d-flex .flex-column-fluid {
            flex: initial;
        }
    </style>
}
<div class="container">
    <div class="flex-row-fluid ">
        <div class="card card-custom card-stretch">
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">@Common.MyDocuments</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">
                        @Common.DocumentsDescription
                    </span>
                </div>
                <div class="card-toolbar">
                    <a href="/" class="btn btn-icon btn-sm btn-light-info">
                        <i class="flaticon-home-2"></i>
                    </a>
                </div>
            </div>
            <div class="row"> <br> </div>
            <div class="container">
                <div class="row ">
                    <br>
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            @using (Html.BeginForm("DownloadAttachment", "Home"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("fileName", item.ServerSideName)
                                <div class="card card-custom gutter-b card-stretch">
                                    <div class="card-body text-center pt-16">
                                        <div class="mt-7">
                                            <div class="symbol symbol-circle symbol-lg-90">
                                                <img src="/Content/assets/media/svg/files/851432_document_512x512.svg" alt="image">
                                            </div>
                                        </div>
                                        <div class="my-4">
                                            <a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h5">
                                                @Html.DisplayFor(m => item.FileName)
                                            </a>
                                        </div>
                                        <div class="mt-9">
                                            <button type="submit" class="btn btn-light-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase">
                                                @Common.DownloadAndDisplay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>