@model CMS.ViewModels.Home.MyAccountViewModel

@using CMS.Localization;

@{
    ViewBag.Title = Common.MyAccount;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/assets/css/pages/wizard/wizard-4.css")

<div class="container">
    <div class="flex-row-fluid">
        <div class="card card-custom card-stretch">
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">@Common.MyAccount</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">
                        @Common.CanUpdateContactInformation
                    </span>
                </div>
                <div class="card-toolbar">
                    <a href="/" class="btn btn-icon btn-sm btn-light-info">
                        <i class="flaticon-home-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-custom">
        <div class="card-body py-12">
            <div class="row">
                <div class="col-lg-12">
                    @*<h3 class="font-weight-bold mb-10 text-dark">Hesap Bilgileri</h3>*@
                    <div class="mb-5">
                        <div class="table-responsive">
                            <table class="table table-light table-light-primary">
                                <thead>
                                    <tr>
                                        <th class="table-center">@Common.InfoServices.ToUpper()</th>
                                        <th class="table-center">@Common.Description.ToUpper()</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">@Html.DisplayNameFor(m => m.FullName)</td>
                                        <td class="table-center">@Html.DisplayFor(m => m.FullName)</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.SubscriberNo)
                                        </td>
                                        <td class="table-center">@Html.DisplayFor(m => m.SubscriberNo)</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.XDSLNo)
                                        </td>
                                        <td class="table-center">@Html.DisplayFor(m => m.XDSLNo)</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.ModemUsername)
                                        </td>
                                        <td class="table-center">@Html.DisplayFor(m => m.ModemUsername)</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.ModemPassword)
                                        </td>
                                        <td class="table-center">@Html.DisplayFor(m => m.ModemPassword)</td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.StaticIP)
                                        </td>
                                        <td class="table-center">@Html.DisplayFor(m => m.StaticIP)</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.SubscriptionState)
                                        </td>
                                        <td class="table-center">
                                            <span class="label px-4 label-lg label-success label-inline mr-2 text-uppercase">@Html.DisplayFor(m => m.SubscriptionState)</span>
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.AutomaticPaymentInstruction)
                                        </td>
                                        <td class="table-center">

                                            @if (Model.AutomaticPaymentInstruction)
                                            {
                                                <span class="label px-4 label-lg label-success label-inline mr-2">
                                                    @Common.Active
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label px-4 label-lg label-danger label-inline mr-2">
                                                    @Common.Passive
                                                </span>

                                            }

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.LineAddress)
                                        </td>
                                        <td class="table-center">
                                            @Html.DisplayFor(m => m.LineAddress)
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-100">
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.PassedInvoice)
                                        </td>
                                        <td class="table-center">
                                            @if (Model.PassedInvoice == null)
                                            {
                                                <span class="label px-4 label-lg label-danger label-inline mr-2">
                                                    -
                                                </span>
                                            }
                                            else
                                            {
                                                if (Model.PassedInvoice > 0)
                                                {
                                                    <span class="label px-4 label-lg label-danger label-inline mr-2">
                                                        @Html.DisplayFor(m => m.PassedInvoice) @Common.Count
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="label px-4 label-lg label-success label-inline mr-2">
                                                        @Html.DisplayFor(m => m.PassedInvoice) @Common.Count
                                                    </span>
                                                }
                                            }


                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold table-row-title text-uppercase">
                                            @Html.DisplayNameFor(m => m.SpecialOfferReferenceCode)
                                        </td>
                                        <td class="table-center">
                                            <div class="font-weight-boldest">@Html.DisplayFor(m => m.SpecialOfferReferenceCode)</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @using (Html.BeginForm("ChangeAccountInfo", "Home", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card-body">
                                    <label class="col-xl-2"></label>
                                    <div class="col-lg-9 col-xl-6"></div>
                                </div>
                                <div class="col-lg-12">
                                    <h3 class="font-weight-bold mb-10 text-dark">
                                        @Common.AccountPrefers
                                    </h3>

                                    @*<div class="form-group row align-items-center">
                                            <label class="col-xl-3 col-lg-3 col-form-label">
                                                @Common.ContactPrefer
                                            </label>
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="row bg-gray-100 py-5 font-weight-bold text-center">
                                                    <div class="col-8 text-left checkbox-inline">
                                                        <label class="checkbox">
                                                            @Html.CheckBoxFor(m => m.ChooseMail, new { @checked = "checked" })
                                                            <span></span>@Html.DisplayNameFor(m => m.ChooseMail)
                                                        </label>
                                                        <label class="checkbox">
                                                            @Html.CheckBoxFor(m => m.ChooseSMS, new { @checked = "checked" })
                                                            <span></span>@Html.DisplayNameFor(m => m.ChooseSMS)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="form-group row align-items-center">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-uppercase">
                                            @Html.DisplayNameFor(m => m.ContactPhoneNo)
                                        </label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="row input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="la la-phone"></i>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(m => m.ContactPhoneNo, new { htmlAttributes = new { @class = "form-control form-control-lg form-control-solid", @placeholder = Common.PhonePlaceholder, @maxlength = "11", @autocomplete = "off", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-uppercase">@Html.DisplayNameFor(m => m.Mail)</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="row input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="la la-at"></i>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(m => m.Mail, new { htmlAttributes = new { @class = "form-control form-control-lg form-control-solid", @placeholder = Common.MailPlaceholder, @autocomplete = "off", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-uppercase">@Html.DisplayNameFor(m => m.CustomerServicePassword)</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="row input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="la la-info"></i>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(m => m.CustomerServicePassword, new { htmlAttributes = new { @class = "form-control form-control-lg form-control-solid", @placeholder = Common.PasswordPlaceholder, @autocomplete = "off", @maxlength = "6" } })
                                            </div>
                                            <div class="row my-2 text-info">@string.Format(CMS.Localization.Common.OnlinePasswordLengthDescription, 6)</div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                        <div class="mr-2"></div>
                                        <div>
                                            <button type="submit" class="btn btn-light-primary mr-2">
                                                @Common.ChangeAndSave
                                            </button>
                                            <button type="button" onclick="window.location.reload();" class="btn btn-light-danger">
                                                @Common.Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

}