@using CMS.Localization;
@{
    ViewBag.Title = Common.RegisterTracking;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var applicationRegisteredStage = (CMS.Localization.Enums.RegisterTrackingTypes)ViewBag.ApplicationRegisteredStage;
    var checkingDocumentsStage = (CMS.Localization.Enums.RegisterTrackingTypes)ViewBag.CheckingDocumentsStage;
    var activationStage = (CMS.Localization.Enums.RegisterTrackingTypes)ViewBag.ActivationStage;
    var connectionStage = (CMS.Localization.Enums.RegisterTrackingTypes)ViewBag.ConnectionStage;
    var completedStage = (CMS.Localization.Enums.RegisterTrackingTypes)ViewBag.CompletedStage;

    var hasIDCardForm = (bool)ViewBag.HasIDCardForm;
}
<div class="container">
    <div class="card card-custom card-stretch">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label font-weight-bolder text-dark font-size-h2">@Common.YourApplicationState</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="timeline timeline-3">
                    <div class="timeline-items">
                        <div class="timeline-item">
                            <!--svg success-->
                            @switch (applicationRegisteredStage)
                            {
                                case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Success.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Waiting.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Passive.cshtml");
                                    break;
                                default:
                                    break;
                            }
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        @switch (applicationRegisteredStage)
                                        {
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark">@Common.SavedYourApplication</h3>
                                                    <span class="label label-success font-weight-bolder label-inline ml-2">
                                                        @Common.Completed
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.SavedYourApplication</h3>
                                                    <span class="label label-warning font-weight-bolder label-inline ml-2">
                                                        @Common.Waiting
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.WaitingYourDocuments</h3>
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                                <div class="p-0">
                                    @Common.ApplicationRegisteredDescription
                                    @if (!hasIDCardForm)
                                    {
                                        <div class="form-group row">
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <div id="dropzone" class="dropzone dropzone-default dropzone-primary dz-clickable">
                                                    <div class="dropzone-msg dz-message needsclick">
                                                        <form enctype="multipart/form-data" style="visibility:hidden" method="post" action="@Url.Action("UploadCustomerFile","Home")" id="contract-form">
                                                            <input type="file" style="visibility:hidden" id="customerContract" name="customerContract" multiple />
                                                            <input type="file" style="visibility:hidden" id="customerDropFile" name="customerDropFile" multiple />
                                                        </form>

                                                        <h3 class="dropzone-msg-title" id="file-dialog">@Common.IDCardDropDescription</h3>
                                                        <span class="dropzone-msg-desc">@Common.IDCardRequiredPhotoDescription</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="card-toolbar">
                                        <a href="@Url.Action("GetPDFForm","Home")" class="btn btn-sm btn-info font-weight-bold mr-2 mt-2">@Common.SubscriptionFormAndContract</a>
                                        @if (!hasIDCardForm)
                                        {
                                            <a href="javascript:void(0);" onclick="UploadFile();" class="btn btn-sm btn-success font-weight-bold mr-2 mt-2">@Common.UploadFiles</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <!--svg waiting-->
                            @switch (checkingDocumentsStage)
                            {
                                case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Success.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Waiting.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Passive.cshtml");
                                    break;
                                default:
                                    break;
                            }
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        @switch (checkingDocumentsStage)
                                        {
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark">@Common.WaitingYourDocuments</h3>
                                                    <span class="label label-success font-weight-bolder label-inline ml-2">
                                                        @Common.Completed
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.WaitingYourDocuments</h3>
                                                    <span class="label label-warning font-weight-bolder label-inline ml-2">
                                                        @Common.Waiting
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.WaitingYourDocuments</h3>
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                                <p class="p-0">
                                    @Html.Raw(Common.WaitingYourDocumentsDescription)
                                </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <!--passive-->
                            @switch (activationStage)
                            {
                                case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Success.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Waiting.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Passive.cshtml");
                                    break;
                                default:
                                    break;
                            }
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        @switch (activationStage)
                                        {
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark">@Common.StartedActivation</h3>
                                                    <span class="label label-success font-weight-bolder label-inline ml-2">
                                                        @Common.Completed
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.StartedActivation</h3>
                                                    <span class="label label-warning font-weight-bolder label-inline ml-2">
                                                        @Common.Waiting
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.StartedActivation</h3>
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                                <p class="p-0">
                                    @Common.StartedActivationDescription
                                </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <!--passive-->
                            @switch (connectionStage)
                            {
                                case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Success.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Waiting.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Passive.cshtml");
                                    break;
                                default:
                                    break;
                            }
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        @switch (connectionStage)
                                        {
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark">@Common.DoInternetConnection</h3>
                                                    <span class="label label-success font-weight-bolder label-inline ml-2">
                                                        @Common.Completed
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.DoInternetConnection</h3>
                                                    <span class="label label-warning font-weight-bolder label-inline ml-2">
                                                        @Common.Waiting
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.DoInternetConnection</h3>
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                                <p class="p-0">
                                    @Common.DoInternetConnectionDescription
                                </p>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <!--passive-->
                            @switch (completedStage)
                            {
                                case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Success.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Waiting.cshtml");
                                    break;
                                case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                    @Html.Partial("~/Views/Shared/DisplayPartials/SvgTypes/_Passive.cshtml");
                                    break;
                                default:
                                    break;
                            }
                            <div class="timeline-content">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="mr-2">
                                        <h3 class="card-label font-weight-bolder text-dark-50">@Common.Completed</h3>
                                        @switch (completedStage)
                                        {
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Success:
                                                {
                                                    <span class="label label-success font-weight-bolder label-inline ml-2">
                                                        @Common.Completed
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Waiting:
                                                {
                                                    <span class="label label-warning font-weight-bolder label-inline ml-2">
                                                        @Common.Waiting
                                                    </span>
                                                }
                                                break;
                                            case CMS.Localization.Enums.RegisterTrackingTypes.Passive:
                                                {
                                                    <h3 class="card-label font-weight-bolder text-dark-50">@Common.WaitingYourDocuments</h3>
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                                <p class="p-0">
                                    @Common.ApplicationCompletedDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Custom/upload-attachment.js")
}