@model CMS.ViewModels.Payment.AutoPaymentCardViewModel

@using CMS.Localization;

@{
    ViewBag.Title = Common.SMSValidation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/assets/css/pages/wizard/wizard-4.css")
<div class="container">
    <div class="flex-row-fluid ">
        <div class="card card-custom card-stretch">
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        @Common.AutoPaymentAndAddCard
                    </h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">
                        @Common.AutoPaymentAndAddCardDescription
                    </span>
                </div>
                <div class="card-toolbar">
                    <a href="@Url.Action("AutomaticPayment","Payment")"
                       class="btn btn-sm btn-light-info font-weight-bold mr-2">
                        @Common.RegisteredCards
                    </a>
                    <a href="/" class="btn btn-icon btn-sm btn-light-info">
                        <i class="flaticon-home-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="flex-row-fluid ">
        <div class="card card-custom card-transparent">
            <div class="card-body p-0">
                <div class="wizard wizard-4">
                    <div id="cc-wizard-content" class="wizard-nav">
                        @Html.Partial("~/Views/Shared/DisplayPartials/Payment/Wizard/wizard-third.cshtml")
                    </div>
                    <div class="card card-custom card-shadowless rounded-top-0">
                        <div class="card-body p-0">
                            <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                <div class="col-xl-12 col-xxl-7">
                                    <div id="cc-content-valid">
                                        @Html.Partial("~/Views/Shared/EditorPartials/Payment/CreditCard-Validation.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center text-danger p-0">
                            @ViewBag.WrongPassword
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/assets/js/pages/features/miscellaneous/sweetalert2.js")

    <script>
        function PrevSubmit() {
            $('#prev-form').find('form').submit();
        }
                //function ValidateResult(data, status) {
                //    try {
                //        if (status == "success") {
                //            var response = data.responseJSON;
                //            if (!response.valid) {
                //                swal.fire({
                //                    icon: 'success',
                //                    title: 'İşlem Başarılı. Kayıtlı Kartlar Sayfasına Yönlendiriliyorsunuz. Lütfen Bekleyiniz',
                //                    showConfirmButton: false,
                //                    timer: 3000,
                //                    onOpen: function () {
                //                        Swal.showLoading()
                //                    }
                //                }).then((result) => {
                //                    window.location.href = "/Payment/PaymentInstruction";
                //                });
                //            }
                //            else {
                //                swal.fire({
                //                    icon: 'error',
                //                    title: '',
                //                    text: response.valid,
                //                    confirmButtonText: 'Tamam'
                //                });
                //            }
                //        }
                //    } catch (e) {
                //        console.log(e);
                //    }

                //}
    </script>
}