@using CMS.Localization;

<div class="wizard-steps" data-total-steps="3">
    <div id="first-wizard-step" class="wizard-step" data-wizard-state="current">
        <div class="wizard-wrapper">
            <div class="wizard-number">1</div>
            <div class="wizard-label">
                <div class="wizard-title">@Common.AddCard </div>
                <div class="wizard-desc">
                    @Common.AboutCardSecurity
                </div>
            </div>
        </div>
    </div>
    <div id="second-wizard-step" class="wizard-step">
        <div class="wizard-wrapper">
            <div class="wizard-number">2</div>
            <div class="wizard-label">
                <div class="wizard-title">@Common.CardInformation</div>
                <div class="wizard-desc">@Common.PaymentInformation </div>
            </div>
        </div>
    </div>
    <div id="third-wizard-step" class="wizard-step">
        <div class="wizard-wrapper">
            <div class="wizard-number">3</div>
            <div class="wizard-label">
                <div class="wizard-title">
                    @Common.ValidationAndSave
                </div>
                <div class="wizard-desc">@Common.SMSValidationCode</div>
            </div>
        </div>
    </div>
</div>