@model CMS.ViewModels.Supports.NewRequestVM

@using CMS.Localization;
@{
    ViewBag.Title = Common.NewRequest;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="flex-row-fluid ">
        <div class="card card-custom card-stretch">
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">
                        @Common.SupportRequestsAndNewRequest
                    </h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">
                        @Common.NewRequestDescription
                    </span>
                </div>
                <div class="card-toolbar">
                    <a href="@Url.Action("SupportRequests","Support")" class="btn btn-sm btn-light-info font-weight-bold mr-2">
                        @Common.SupportRecords
                    </a>
                    <a href="/" class="btn btn-icon btn-sm btn-light-info">
                        <i class="flaticon-home-2"></i>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12 col-xxl-7">
                    <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_projects_add_form">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group row">
                                    <div class="col-lg-10 col-xl-6">
                                        <h3 class="mb-10 font-weight-bold text-dark">
                                            @Common.NewRequest
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group row fv-plugins-icon-container">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        @Common.HelpSupportQuestion
                                    </label>
                                    <div class="col-lg-8 col-xl-9">
                                        @Html.DropDownListFor(m => m.NewRequestID, Model.RequestList, Common.Choose, new { @class = "form-control form-control-lg form-control-solid" })
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                                <div class="form-group row fv-plugins-icon-container">
                                    <label id="subLabel" class="col-xl-3 col-lg-3 col-form-label">

                                    </label>
                                    <div class="col-lg-8 col-xl-9">
                                        @Html.DropDownListFor(m => m.subRequest, new SelectList(""), new { @class = "form-control form-control-lg form-control-solid d-none" })
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center fv-plugins-icon-container">
                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                        @Common.SupportRequestExplain
                                    </label>
                                    <div class="col-lg-8 col-xl-9">
                                        <div class="form-group">
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control form-control-solid form-control-lg", @rows = "3" })
                                            <span class="form-text text-muted">
                                               @Common.SupportRequestExplainText
                                            </span>
                                        </div>
                                        <div class="fv-plugins-message-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-top mt-0 pt-4">
                            <div class="mr-2">
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger font-weight-bolder text-uppercase px-10 py-2 action-submit" id="send_req">
                                    @Common.Send
                                </button>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/assets/js/pages/features/miscellaneous/sweetalert2.js")
    <script>
        $('#NewRequestID').change(function () {
            try {
                ClearList();
                if ($(this).val()) {
                    var val = $(this).val();
                    $.ajax({
                        url: '/Support/RequestData',
                        method: 'GET',
                        data: { NewRequestID: val },
                        complete: function (data, status) {
                            if (status == "success") {
                                if (data.responseJSON.list.length > 0) {
                                    $('#subRequest').removeClass("d-none");
                                    $('#subLabel').text(data.responseJSON.label);
                                    var list = data.responseJSON.list;
                                    for (var i = 0; i < list.length; i++) {
                                        $('#subRequest').append('<option data-offset="10800" value="' + list[i].Value + '">' + list[i].Text + '</option >');
                                    }
                                }
                                else {
                                    ClearList();
                                }
                            }
                        }
                    })
                }
            } catch (e) {
                console.log(e);
            }
        });
        function ClearList() {
            $('#subLabel').text("");
            $('#subRequest').html("");
            $('#subRequest').addClass("d-none");
        }
    </script>
}