@model CMS.ViewModels.Layout.BillsLayoutViewModel

@using CMS.Localization

<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-xl dropdown-menu-anim-up">
    <form>
        <div class="d-flex align-items-center py-10 px-8 bgi-size-cover bgi-no-repeat rounded-top"
             style="background-image: url(/Content/assets/media/misc/bg-1.jpg)">
            <span class="btn btn-md btn-icon bg-white-o-15 mr-4">
                <i class="flaticon-list-1 text-success"></i>
            </span>
            <h4 class="text-white m-0 flex-grow-1 mr-3">@Common.MyInvoices</h4>
            <button type="button" class="btn btn-danger btn-sm">@Model.BillCount @Common.Invoice</button>
        </div>
        <div class="scroll scroll-push" data-scroll="true" data-height="250" data-mobile-height="220">
            @if (Model.Bills != null)
            {
                foreach (var item in Model.Bills)
                {
                    <div class="d-flex align-items-center justify-content-between p-8">
                        <div class="d-flex flex-column mr-2">
                            <a href="#"
                               class="font-weight-bold text-dark-75 font-size-lg text-hover-primary">@Html.DisplayFor(m => item.IssueDate)</a>
                            <span class="text-muted">@Html.DisplayNameFor(m => item.IssueDate)</span>
                            <div class="d-flex align-items-center mt-2">
                                <span class="font-weight-bold mr-1 text-dark-75 font-size-lg">@Html.DisplayNameFor(m => item.Amount)</span>
                                <span class="font-weight-bold mr-1 text-dark-50 font-size-lg">
                                    @Html.DisplayFor(m => item.Amount)
                                </span>
                            </div>
                        </div>
                        <a href="#" class="symbol symbol-70 flex-shrink-0">
                            <img src="/Content/assets/media/project-logos/google-forms.png" title="" alt="" />
                        </a>
                    </div>
                    <div class="separator separator-solid"></div>
                }
            }
        </div>
        <div class="p-8">
            <div class="d-flex align-items-center justify-content-between mb-7">
                <span class="font-weight-bold text-muted font-size-sm mr-2">
                    @Html.DisplayNameFor(m => m.TotalAmount)
                </span>
                <span class="font-weight-bolder text-primary text-right">
                    @Html.DisplayFor(m => m.TotalAmount)
                </span>
            </div>
            @if (Model.Bills != null && Model.Bills.Count() != 0)
            {
                <div class="text-right">
                    <a href="@Url.Action("PaymentSelection","Payment")" class="btn btn-primary font-weight-bold mr-2">@Common.QuickPay</a>
                </div>
            }
        </div>
    </form>
</div>